- name: fill_db_playbook
  hosts: dbserver 
  become: true
  tasks:

    - name: Clean dB
      community.mysql.mysql_query:
        login_db: testdB
        login_user: root 
        query: >
          TRUNCATE TABLE testTable;
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Insert into testTable 
      community.mysql.mysql_query: 
        login_db: testdB 
        login_user: root 
        query: > 
          INSERT INTO testTable (name) VALUES ("Amin"); 
        login_unix_socket: /var/run/mysqld/mysqld.sock 

    - name: Fetch dB (to test playbook)
      community.mysql.mysql_query: 
        login_db: testdB 
        login_user: root 
        query: > 
          SELECT * from testTable; 
        login_unix_socket: /var/run/mysqld/mysqld.sock
      register: db_select 

    - name:
      set_fact: 
        db_select_query: "{{db_select.query_result[0]}}"

    - name: Print Select 
      debug: 
          var: db_select_query
