
- name: Create config file for modules 
  copy:
    dest: /etc/modules-load.d/k8s.conf
    content: |
      overlay
      br_netfilter

- name: Load modules
  community.general.modprobe:
    name: "{{ item }}"
    state: present
  loop:
    - overlay
    - br_netfilter


- name: Change sysctl parameters
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    sysctl_file: /etc/sysctl.d/k8s.conf
    reload: yes
  loop:
    - { name: 'net.bridge.bridge-nf-call-iptables', value: '1' }
    - { name: 'net.bridge.bridge-nf-call-ip6tables', value: '1' }
    - { name: 'net.ipv4.ip_forward', value: '1' }


- name: Create directory for containerd config 
  file:
    path: /etc/containerd
    state: directory

- name: Generate default config for containerd
  shell: containerd config default > /etc/containerd/config.toml

- name: Set SystemdCgroup to true 
  replace:
    path: /etc/containerd/config.toml
    regexp: 'SystemdCgroup = false'
    replace: 'SystemdCgroup = true'
  notify: 
    - Restart containerd

- name: Activate and start services
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - containerd 
    - kubelet


- name: Create directory .kube for debian usr 
  file:
    path: /home/debian/.kube
    state: directory
    owner: debian
    group: debian
    mode: '0750'

