apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: default
data:
  Q2.sh: |
    #!/bin/bash
    set -e
    PG_DATA_DIR=/var/lib/postgresql/data
    HOSTNAME=$(hostname)

    if [[ "$HOSTNAME" == "postgres-0" ]]; then
      export POSTGRES_PASSWORD=$POSTGRES_PW
      
      if [ -z "$(ls -A $PG_DATA_DIR)" ]; then
          
          if pg_isready -h postgres-1.postgres -U postgres -t 5; then
              echo "> Copying from postgres-1..." 
              PGPASSWORD=$REPLICA_PW pg_basebackup -h postgres-1.postgres -D $PG_DATA_DIR -U $REPLICA_USR -v -P --wal-method=stream
              
              rm -f "$PG_DATA_DIR/standby.signal"
              rm -f "$PG_DATA_DIR/postgresql.auto.conf"
          else
              echo "> Initializing new database..."
              mkdir -p /docker-entrypoint-initdb.d
              cat > /docker-entrypoint-initdb.d/init_replica.sql <<EOF
    CREATE USER $REPLICA_USR REPLICATION PASSWORD '$REPLICA_PW';
    EOF
          fi
      fi

      echo "host replication all 0.0.0.0/0 md5" >> "$PG_DATA_DIR/pg_hba.conf"
      echo "host all all 0.0.0.0/0 md5" >> "$PG_DATA_DIR/pg_hba.conf"
      
      exec docker-entrypoint.sh postgres -c listen_addresses='*' -c wal_level=replica -c max_wal_senders=10 -c hot_standby=on

    else

      export POSTGRES_PASSWORD=$POSTGRES_PW
      if [ -d "$PG_DATA_DIR" ]; then
        rm -rf "$PG_DATA_DIR"/*
        chmod 700 "$PG_DATA_DIR"
      fi

      until pg_isready -h postgres-0.postgres -U postgres; do sleep 2; done

      PGPASSWORD=$REPLICA_PW pg_basebackup -h postgres-0.postgres -D $PG_DATA_DIR -U $REPLICA_USR -v -P -R --wal-method=stream
      
      exec docker-entrypoint.sh postgres -c listen_addresses='*'
    fi
