apiVersion: v1
kind: Service
metadata:
  name: postgres-rw
spec:
  ports: [{port: 5432, name: postgres}]
  type: ClusterIP
  selector: {statefulset.kubernetes.io/pod-name: postgres-0}
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-ro
spec:
  ports: [{port: 5432, name: postgres}]
  type: ClusterIP
  selector: {app: postgres}
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  ports: [{port: 5432, name: postgres}]
  clusterIP: None
  selector: {app: postgres}
