- name: Configure MySQL bind-address to allow remote connections
  ansible.builtin.lineinfile:
    path: /etc/mysql/mysql.conf.d/mysqld.cnf
    regexp: '^bind-address'
    line: "bind-address = 0.0.0.0"
    insertafter: '^\[mysqld\]'
    backup: yes
    state: present 

- name: Set server-id for replication
  ansible.builtin.lineinfile:
    path: /etc/mysql/mysql.conf.d/mysqld.cnf
    regexp: '^server-id'
    line: "server-id = 1"
    insertafter: '^\[mysqld\]'
    backup: yes

- name: Enable binary logging
  ansible.builtin.lineinfile:
    path: /etc/mysql/mysql.conf.d/mysqld.cnf
    regexp: '^log_bin'
    line: "log_bin = /var/log/mysql/mysql-bin.log"
    insertafter: '^\[mysqld\]'
    backup: yes

- name: Active-Active Collision Prevention
  ansible.builtin.lineinfile:
    path: /etc/mysql/mysql.conf.d/mysqld.cnf
    regexp: '^auto_increment_increment'
    line: "auto_increment_increment = 2"
    insertafter: '^\[mysqld\]'
    backup: yes

- name: Active-Active Collision Prevention 
  ansible.builtin.lineinfile:
    path: /etc/mysql/mysql.conf.d/mysqld.cnf
    regexp: '^auto_increment_offset'
    line: "auto_increment_offset = 1"
    insertafter: '^\[mysqld\]'
    backup: yes
  

- name: Set GTID mode ON
  ansible.builtin.blockinfile:
    path: /etc/mysql/mysql.conf.d/mysqld.cnf
    block: |
      gtid_mode = ON
      enforce_gtid_consistency = ON
      log_slave_updates = 1
      binlog_format = ROW
      binlog_expire_logs_seconds = 604800 
    marker: "# GTID CONFIG"
  notify: Restart MySQL


