
- name: APT Update
  become: true 
  ansible.builtin.apt: 
    name: "*" 
    state: latest
    cache_valid_time: 86400

- name: Install UFW 
  become: true 
  ansible.builtin.apt:
    name: ufw
    state: present 

- name: Reset UFW
  community.general.ufw: 
    state: reset 

- name: Set default incoming policy to deny
  community.general.ufw: 
    direction: incoming
    policy: deny

- name: Set default outgoing policy to allow
  community.general.ufw: 
    direction: outgoing
    policy: allow

- name: Enable UFW for SSH 
  community.general.ufw: 
    rule: allow
    name: OpenSSH

- name: Allow SSH on Port 22
  community.general.ufw: 
    rule: allow
    port: 22
    proto: tcp

- name: Open MySQL port
  community.general.ufw: 
    rule: allow 
    port: 3306 
    proto: tcp
    src: "172.28.100.92"

- name: Authorize tp4-bdd 
  community.general.ufw: 
    rule: allow 
    port: 3306
    proto: tcp 
    src: "172.28.100.122"

- name: Authorize tp4-client 
  community.general.ufw: 
    rule: allow
    port: 3306 
    proto: tcp
    src: "172.28.101.107" 

- name: Enable UFW 
  community.general.ufw: 
    state: enabled
   
