apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: default
data:
  Q1.sh: |
    #!/bin/bash
    set -e

    PG_DATA_DIR=/var/lib/postgresql/data
    HOSTNAME=$(hostname)

    echo "> Starting Pod : $HOSTNAME"


    if [[ "$HOSTNAME" == "postgres-0" ]]; then
      echo "> Pod role : Primary"

      mkdir -p /docker-entrypoint-initdb.d

    cat > /docker-entrypoint-initdb.d/init_replica.sql <<EOF
    CREATE USER $REPLICA_USR REPLICATION PASSWORD '$REPLICA_PW';
    EOF

    echo "host replication all 0.0.0.0/0 md5" >> "$PG_DATA_DIR/pg_hba.conf"
    echo "host all all 0.0.0.0/0 md5" >> "$PG_DATA_DIR/pg_hba.conf"

      exec docker-entrypoint.sh postgres \
             -c wal_level=replica \
             -c max_wal_senders=10 \
             -c hot_standby=on


    else
      echo "> Pod role : Secondary"
      
      if [ -d "$PG_DATA_DIR" ]; then
        echo "> Cleanup: Deleting old data..."
        rm -rf "$PG_DATA_DIR"/*
        chmod 700 "$PG_DATA_DIR"
      fi

      echo "> Waiting for primary (postgres-0)..."
      

      until pg_isready -h postgres-0.postgres -U postgres; do
        sleep 2
      done

      echo "> Copying data from primary..."


      PGPASSWORD=$REPLICA_PW pg_basebackup \
        -h postgres-0.postgres \
        -D $PG_DATA_DIR \
        -U $REPLICA_USR \
        -v -P -R \
        --wal-method=stream

      touch "$PG_DATA_DIR/standby.signal"

      exec docker-entrypoint.sh postgres
    fi
