apiVersion: v1
kind: Service
metadata:
  name: postgres-rw
  labels:
    app: postgres
    role: read-write
spec:
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
  type: ClusterIP
  selector:
    statefulset.kubernetes.io/pod-name: postgres-0

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-ro
  labels:
    app: postgres 
    role: read-only
spec:
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
  type: ClusterIP
  selector:
    app: postgres

---

apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: postgres
spec:
  ports:
  - port: 5432
    name: postgres
  clusterIP: None
  selector:
    app: postgres
