- name: Restart MySQL
  ansible.builtin.service:
    name: mysql
    state: restarted

- name: Stop replica
  community.mysql.mysql_replication:
    mode: stopreplica
    login_user: root
    login_password: ""
    login_unix_socket: /var/run/mysqld/mysqld.sock


- name: Flush Privileges 
  community.mysql.mysql_query: 
    login_user: "{{mysql_login_user}}"
    login_password: ""
    login_unix_socket: "{{mysql_socket}}" 
    query: >
      FLUSH PRIVILEGES; 
    